<div class="row">
Titles: <%= @entry.title %><br>Body: <%= @entry.body %>
  <ol class="comments">
    <%= render @comments %>
  </ol>
  <%= will_paginate @comments %>
<%= render 'shared/comment_form' %>
</div>