<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
        <% if @user.entries.any? %>
          <h3>Entry (<%= @user.entries.count %>)</h3>
          <ol class="entries">
            <%= render @entries %>
          </ol>
          <%= will_paginate @entries %>
        <% end %>
  </div>
</div>