<% if logged_in? && (current_user.following?(@entry.user) || current_user == @entry.user) %>
    <%= form_for(@comment) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div><%= f.hidden_field :entry_id, :value => @entry.id %></div>
        <div class="field">
          <%= f.label "Comment :" %>
          <%= f.text_field :content, placeholder: "Compose new a comment..." %>
        </div>
        <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
<% end %>