
<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Compose a title..." %>
    <%= f.text_area :body, placeholder: "Compose a body..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>